<%= form_for(@job) do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@job.errors.count, "error") %> prohibited this job post from being saved:</h4>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <select multiple>
      <option><%#= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category" }, value: 1 %></option>
    </select>
    
  </div>
  
  <div class="input-field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>

  <div class="input-field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="input-field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>

  <div class="input-field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  
  
  
  <div class="actions btn waves-effect waves-light">
    <%= f.submit %>
  </div>
<% end %>
