<h2>Jobs</h2>
<div class="row">

	<% @jobs.each do |job| %>
			<div class="col s12 m6">
				<div class="card grey darken-4">
					<div class="card-content white-text">
						<span class="card-title"><h4><%= link_to job.position, job %></h4></span>
						<p><%= truncate(job.description.html_safe, length: 75) %></p>
						<p><%= job.company %> - <%= job.city %></p>
						<p> Posted <%= time_ago_in_words(job.created_at) %> ago</p>
					</div>
					<div class="card-action">
						<%= link_to 'Save Job', root_path %>
						<%= link_to 'Apply', root_path %>
					</div>
				</div>
			</div>
		
	<% end %>
</div>


