

<h1><%= @job.position %></h1>

<strong>Description:</strong>
<p>
	<%= @job.description %>
</p>

<strong>Location:</strong>
<p>
	<%= @job.city %>
</p>

<p>
	Posted by <%= @job.company %>
</p>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_job_path(@job) %>
<%= link_to 'Delete', job_path, method: :delete, data: {confirm: "Are you sure?"} %>