<!DOCTYPE html>
<html>
<head>
  <title>JobsBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: name %>
	<% end %>

	<nav>
		<div class="nav-wrapper">
			<div class="container">
				<%= link_to 'JobLing', root_path, class: "brand-logo" %>
			</div>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><%= link_to 'Employers/ Post Job', new_job_path %></li>
				<li><%= link_to 'Find Jobs', root_path %></li>
				<li><%= link_to 'About JobLing', new_job_path %></li>
				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
			</ul>
		</div>
	</nav>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
