<!DOCTYPE html>
<html>
<head>
  <title>Matador LingO | CSUN Ling Job Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Titillium+Web|Mogra|Shrikhand" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css">
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<div class="container">
					<%= link_to 'Matador LingO', pages_landing_page_path, class: "brand-logo" %>
				</div>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<% Category.all.each do |category| %>
							<%= link_to category.name, jobs_path(category: category.name) %>
						<% end %>
					</li>
					<li><%= link_to 'Employers/ Post Job', new_job_path %></li>
					<li><%= link_to 'Jobs', jobs_path %></li>
					<li><%= link_to 'About', pages_about_path %></li>
					<% if user_signed_in? %>
						<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
					<% else %>
						<li><%= link_to 'Sign in', new_user_session_path %></li>
						<li><%= link_to 'Sign Up', new_user_registration_path %></li>
					<% end %>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, class: name %>
	<% end %>
	</div>

<div class="">
	<%= yield %>
</div>

</body>
</html>
